
.itemBase{
    margin: 0 20px;
    padding: 20px;
}
.nomeProduto{
    font-weight: 700;
    color: black;
    border-bottom: 5px solid rgb(240, 97, 121);
}

.testeImagem{
    background-color: grey;
    height: 13em;
    width: 10em;
    margin-bottom: 20px;
}

.Stock{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.688);
    margin-top: 10px;
}

.precoProduto{
    font-weight: 700;
    font-size: 14px;
}