
.Navbar, .Navbar_Links, .Navbar_Logo{
    display: flex;
}

.Navbar{
    flex-flow: column;
    background-color: white;
}

.logoTitulo{
    font-size: 30px;
    font-weight: 700;
    color: black;
    letter-spacing: 7px;
}

.Navbar_Logo{
    justify-content: space-between;
    padding: 50px 90px 30px 90px;
}

.Navbar_Links{
    padding: 0 0 30px 90px;
}

li{
    list-style-type: none;
    padding-right: 30px;
}

.Link{
    text-decoration: none;
    color: black;
}

.menuLink:hover{
    border-bottom: 2px solid rgb(240, 97, 121);
}

.menuAtivo{
    border-bottom: 5px solid rgb(240, 97, 121);
}